<!--<div class="row">
    <div class="col-md-3 col-xs-12">
        <md-content class="col-info-user">
            <div class="user_image">
                <img src="{{user.user_image}}" style="border: 1px solid #333;" height="145px" width="145px"/>
            </div>
            <div style="text-align: center; margin: 22px;">
                <h5>{{user.login}}</h5>
                <h6>{{user.firstName}}, {{user.lastName}}</h6>
            </div>
            <div style="text-align: center;">
                <h6  tooltip-placement="top" uib-tooltip="Join date" tooltip-append-to-body="true"><i class="material-icons">date_range</i></h6>
                <h5>{{user.createdDate | date: 'fullDate'}}</h5>
            </div>
            <div class="background-user-image" style="background-image: url('{{user.user_image}}');"></div>
        </md-content>
    </div>
    <div class="col-md-6 col-xs-12">
        <md-content class="col-activity-user">
            <div>
                <img src="{{user.user_image}}"
                     style="border: 1px solid #333;" height="100px"
                     width="100px"/>
                <div style="margin: 22px;">
                    <p>{{songDTO.song.user.login}}</p>
                </div>
            </div>
        </md-content>
    </div>
    <div class="col-md-3 col-xs-12">
        <md-content class="col-other-info" style="margin-bottom: 5px;">
            <h4 style="padding-left: 7px;"><small>Playlists</small></h4>
            <md-divider></md-divider>
            <div ng-repeat="playlist in playlistsUser">
                <div ng-if="!$last" style="display:inline-block; height: 70px;padding: 5px;">
                    <img style="height: 60px;width:60px;background: -webkit-linear-gradient(-45deg, rgb(85, 147, 255) 0%, rgb(150, 27, 255) 100%);" ng-src="{{playlist.artwork}}"/>
                </div>
                <div ng-if="!$last" style="display:inline-block; height: 70px;">
                    <h5 ui-sref="playlist.detail({id:playlist.id})" style="width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                            {{playlist.name}}
                    </h5>
                </div>
            </div>
            <div style="text-align: center;">
                <button class="sx__button">View all</button>
            </div>
        </md-content>
        <md-content class="col-other-info">
            <h4 style="padding-left: 7px;"><small>{{totalLikes}} likes</small></h4>
            <md-divider></md-divider>
            <div ng-repeat="like in lastLikes">
                <div ng-if="!$last" style="display:inline-block; height: 70px;padding: 5px;">
                    <img style="height: 60px;width:60px;background: -webkit-linear-gradient(-45deg, rgb(85, 147, 255) 0%, rgb(150, 27, 255) 100%);" ng-src="{{like.song.artwork}}"/>
                </div>
                <div ng-if="!$last" style="display:inline-block; height: 70px;">
                    <h5 ui-sref="playlist.detail({id:playlist.id})" style="width: 190px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                        {{like.song.name}}
                    </h5>
                </div>
            </div>
            <div style="text-align: center;">
                <button class="sx__button">View all</button>
            </div>
        </md-content>
    </div>
</div>-->
<style>
    .profile-image span{
        height: 200px;
        width: 200px;
        position: relative;
        display: block;
    }
    .visual-profile{
        height: 100%;
        width: 100%;
        padding: 22px 0px;
    }
    .profile-image{
        height: 100%;
        width: 200px;
        margin: 0 auto;
        position: relative;
    }
    .profile-image:before{
        content: '';
        position: absolute;
        //background: white;
        background: linear-gradient(rgba(0,0,0,0) 31%, #fff 102%);
        top: -10px;
        left: -10px;
        bottom: -10px;
        right: -10px;
        box-shadow: 0px 13px 16px -12px rgba(0,0,0,.5);
    }
</style>
<div>
    <div class="row">
        <div class="visual-profile">
            <div class="profile-image">
                <span style="background-image: url('{{user.user_image}}');"></span>
            </div>
        </div>
        <div class="user-info">
            <div style=" text-align: center;box-shadow: 0px 13px 16px -12px rgba(0,0,0,.5); width: 300px; margin: 0 auto;padding: 16px;
        background: linear-gradient(rgba(0,0,0,0) 31%, #fff 102%);margin-bottom: 10px;">
                <div><span><b>{{user.login}}</b></span></div>
                <div><span>{{user.firstName}} {{user.lastName}}</span></div>
                <div style="margin-top: 2px;margin-bottom: 2px; ">
                    <span>
                        <button class="sx__button sx_button_follow" ng-class="{true:'active',false:''}[user.followedByUser]" ng-click="follow(user)">
                            <i class="mdi mdi-check" ng-if="user.followedByUser"></i>
                            <i class="mdi mdi-plus" ng-if="!user.followedByUser"></i>
                            {{ user.followedByUser ? 'Following' : 'Follow' }}
                        </button>
                    </span>
                </div>
                <div style="width: 45%;    padding-top: 10px; border-right: 1px solid rgba(128, 128, 128, 0.43);display: inline-block;" ui-sref="user-profile.followers">
                    <p><span><i class="fa fa-users" aria-hidden="true"></i> Followers</span></p>
                    <p style="font-size: 17px;margin-top: -9px;">{{user.totalFollowers}}</p>
                </div>
                <div style="width: 45%;    padding-top: 10px;display: inline-block;" ui-sref="user-profile.following">
                    <p><span><i class="fa fa-users" aria-hidden="true"></i> Following</span></p>
                    <p style="font-size: 17px;margin-top: -9px;">{{user.totalFollowings}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="menu-library">
                <li ui-sref-active="active"><a ui-sref="user-profile.likes">Likes</a></li>
                <li ui-sref-active="active"><a ui-sref="user-profile.followers">Followers</a></li>
                <li ui-sref-active="active"><a ui-sref="user-profile.following">Following</a></li>
            </ul>
        </div>
    </div>
    <div ui-view="user-view">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button class="sx__button sx_button_floated to-left" ui-sref="user-profile.tracks">View all</button>
                <h3 class="h3_title">
                    <i class="mdi mdi-bookmark-music mdi-36px mdi-sx-orange" aria-hidden="true"></i>
                    <span style="display: inline-flex;vertical-align: text-top;margin-top: -8px;" class="titles">{{user.login}}'S TRACKS</span>
                </h3>
                <div ng-repeat="songDTO in tracksUser track by songDTO.song.id" class="track-wrapper" style="background-image: url({{songDTO.song.artwork}});">
                    <div class="track-container">
                        <h5 style="cursor: pointer;text-align: center;"
                            ui-sref="song.detail({accessUrl: songDTO.song.access_url,user: songDTO.song.user.login, id: songDTO.song.id})">
                            <div class="blur">
                                <div class="background" style="background-image: url({{songDTO.song.artwork}});"></div>
                            </div>
                            <span>{{songDTO.song.name}}</span>
                        </h5>
                        <div class="badge latest_badge" ng-if="$index == 0">Newest</div>
                        <!--<div class="sx__button sx_button_bottom"
                             ng-if="playerPlaylist.getSongId(mediaPlayer.currentTrack) == songDTO.song.id && playerPlaylist.playlistCurrent == 'fromTracks'+user.login"
                             ng-click="mediaPlayer.playPause()">
                            {{ mediaPlayer.playing ? 'Pause' : 'Play' }}
                        </div>
                        <div class="sx__button sx_button_bottom" ng-if="playerPlaylist.getSongId(mediaPlayer.currentTrack) != songDTO.song.id || playerPlaylist.playlistCurrent != 'fromTracks'+user.login"
                             ng-click="playerPlaylist.addSongAll(tracksUser,mediaPlayer,$index,'fromTracks'+user.login)">
                            Play
                        </div>-->

                        <button class="sx__button sx_button_player" ng-if="playerPlaylist.getSongId(mediaPlayer.currentTrack) == songDTO.song.id && playerPlaylist.playlistCurrent == 'fromTracks'+user.login"
                                ng-click="mediaPlayer.playPause()">
                            <i ng-if="!mediaPlayer.playing" class="mdi mdi-play mdi-24px"></i>
                            <i ng-if="mediaPlayer.playing" class="mdi mdi-pause mdi-24px"></i>
                        </button>
                        <button class="sx__button sx_button_player" ng-if="playerPlaylist.getSongId(mediaPlayer.currentTrack) != songDTO.song.id || playerPlaylist.playlistCurrent != 'fromTracks'+user.login"
                                ng-click="playerPlaylist.addSongAll(tracksUser,mediaPlayer,$index,'fromTracks'+user.login)">
                            <i class="mdi mdi-play mdi-24px"></i>
                        </button>
                        <div class="stats">
                            <button class="sx__button like__button"
                                    ng-class="{true:'like__button active',false:'like__button'}[songDTO.liked]"
                                    ng-click="like(songDTO.song.id)">
                                <i class="fa fa-heart-o fa-lg"></i>{{songDTO.totalLikes}}
                            </button>
                            <button class="sx__button like__button"
                                    ng-class="{true:'like__button active',false:'like__button'}[songDTO.shared]"
                                    ng-click="share(songDTO.song.id)">
                                <i class="fa fa-retweet fa-lg" aria-hidden="true"></i>{{songDTO.totalShares}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 5px;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3 class="h3_title">
                    <i class="mdi mdi-bookmark-music mdi-36px mdi-sx-orange" aria-hidden="true"></i>
                    <span style="display: inline-flex;vertical-align: text-top;margin-top: -8px;" class="titles">{{user.login}}'S PLAYLISTS</span>
                </h3>
                <div style="position:relative; margin-right: 12px; display: inline-block; height: 180px; width: 180px;" ng-repeat="playlistDTO in playlistsUser">
                    <img src="{{playlistDTO.playlist.artwork}}"
                         style="height: 100%; position: relative; width: 100%;display: block;
                        background: -webkit-linear-gradient(-45deg, rgb(85, 147, 255) 0%, rgb(150, 27, 255) 100%);"/>
                    <p style="position: absolute; top: 0px; margin: 10px; font-size: 15px;
                        background: rgba(0,0,0,.7); padding: 3px; color: #fff;">
                        {{playlistDTO.playlist.name}}
                    </p>
                    <div class="stats" style="left: 0%;">
                        <button class="sx__button like__button" ng-class="{true: 'active',false:''}[playlistDTO.liked]" ng-click="unlike(playlistDTO.playlist.id)">
                            <i class="fa fa-heart-o fa-lg"></i>{{playlistDTO.totalLikes}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .btn-upload-over {
        position: absolute;
        top: 0;
        left: 0;
    }
    .h5-title-info{
        border-width: 0px 0px 0px 6px;
        border-color: #6F00F8;
        border-style: solid;
        padding: 12px;
        background: rgba(111, 0, 248, 0.13);
        display: inline-block;
        width: 400px;
        border-radius: 0px 2px 62px 0px;
    }

    .track-container .blur > .background {
        top: 0!important;
        bottom: 0!important;
    }



    @media (max-width: 1368px){
        .track-wrapper {
            //width: 350px;
            /*width: 175px;
            height: 175px;*/
            width: 185px!important;
            height: 185px;
        }
    }

    @media (min-width: 1280px){
        .h3_title+.track-wrapper{
            /*width: 350px;
            height: 350px;*/
            width: 370px!important;;
            height: 370px!important;;
            float: left!important;
        }

        .h3_title+.track-wrapper:before {
            display: block;
            content: "";
            width: 100%;
            padding-top: 50.1%;
        }
    }

    .track-wrapper:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 0;
    }

    .track-container > h5 {
        width: 100%;
        //margin-top: -100%;
        transition: all 0.4s ease;
    }

    .track-container{
        overflow: hidden;
    }

    .latest_badge{
        background: #ff5d29;
        font-size: 22px;
        position: absolute;
        bottom: 10px;
       // box-shadow: 0px 5px #d23b0b;
        border-radius: 3px;
        text-transform: capitalize;
    }

    /*.track-container:hover > h5{
        margin-top: 0px;
        transition: all 0.4s ease;
    }*/
    .sx_button_bottom{
        position: absolute;
        bottom: 10px;
        right: 10px;
        background: #ff5d29;
        color: white;
        border-color: #ff5d29;
    }

    @media (max-width: 768px){
        .track-wrapper{
            width: 100%;
            height: auto;
        }
        .track-wrapper:before{
            display: block;
            content: "";
            width: 100%;
            padding-top: 56.25%!important;
        }
    }

    .sx__button.sx_button_floated.to-left{
        left: 1053px;
    }

    button.sx__button.sx_button_player {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-45%, -45%);
        background: #ff5d29;
        color: white;
        border-color: #ff5d29;
        border-radius: 100%;
        height: 42px;
        width: 42px;
        padding-top: 6px;
        padding-left: 8.5px;
    }

    button.sx__button.sx_button_player:hover{
        border-radius: 100%!important;
        height: 42px;
        width: 42px;
        padding-top: 6px!important;
        padding-left: 8.5px!important;
    }

    .stats{
        position: absolute;
        bottom: 0px;
        background: rgba(0,0,0,.78);
        left: -100%;
        transition: left .4s ease;
        width: 100%;
        padding: 10px;
    }

    .track-container:hover .stats{
        left: 0px;
        padding: 10px;
        transition: left .4s ease;

        bottom: 0px;
        background: rgba(0,0,0,.78);
        width: 100%;
    }

    button.sx__button.sx_button_locked {
        background: #989898;
        color: #fff;
        border: 1px solid rgba(0,0,0,.2);
    }

    button.sx__button.sx_button_locked:hover {
        background: #808080!important;
        color: #fff!important;
        border: 1px solid rgba(0,0,0,.2)!important;
    }

    .track-wrapper:not(:first-child){
        height: 185px;
        width: 185px;
    }

</style>

