<div class="row">
    <div class="col-md-10" style="vertical-align: top;"
         infinite-scroll="loadPage(page + 1)"
         infinite-scroll-disabled="links['last'] == page">
        <h3 class="h3_title">
            <i class="mdi mdi-bookmark-music mdi-36px mdi-sx-orange" aria-hidden="true"></i>
            <span style="display: inline-flex;vertical-align: text-top;margin-top: -8px;" class="titles">YOUR TRACKS</span>
        </h3>
        <div ng-repeat="songDTO in songs track by songDTO.song.id" class="track-wrapper"
             style="background-image: url({{songDTO.song.artwork}});">
            <div class="track-container">
                <h5 style="cursor: pointer;text-align: center;"
                    ui-sref="song.detail({accessUrl: songDTO.song.access_url,user: songDTO.song.user.login, id: songDTO.song.id})">
                    <div class="blur">
                        <div class="background" style="background-image: url({{songDTO.song.artwork}});"></div>
                    </div>
                    <span>{{songDTO.song.name}}</span>
                </h5>
                <h6 style="cursor: pointer;text-align: center;" ui-sref="user-profile({login:songDTO.song.user.login})">
                    {{songDTO.song.user.login}}</h6>
                <div class="options">

                    <button class="button-options sx__button" ng-class="{true:'sx__button active',false:'sx__button sx_button_normal'}[songDTO.liked]" ng-click="like(songDTO.song.id)">
                        <span>{{songDTO.totalLikes}} Like</span>
                    </button>
                    <button class="button-options sx__button" ng-class="{true:'sx__button active',false:'sx__button sx_button_normal '}[songDTO.shared]" ng-click="share(songDTO.song.id)">
                        <span>{{songDTO.totalShares}} Share</span>
                    </button>
                </div>
                <button class="button-options button-play">
                        <span ng-if="playerPlaylist.getSongId(mediaPlayer.currentTrack) == songDTO.song.id && playerPlaylist.playlistCurrent == 'fromYourSongs'"
                              ng-click="mediaPlayer.playPause()">
                            <i style="font-size: 44px!important;" ng-if="!mediaPlayer.playing" class="material-icons">play_arrow</i>
                            <i style="font-size: 44px!important;" ng-if="mediaPlayer.playing" class="material-icons">pause</i>
                        </span>
                        <span ng-if="playerPlaylist.getSongId(mediaPlayer.currentTrack) != songDTO.song.id || playerPlaylist.playlistCurrent != 'fromYourSongs'"
                              ng-click="playerPlaylist.addSongAll(allTracks,mediaPlayer,$index,'fromYourSongs')">
                            <i style="font-size: 44px!important;" class="material-icons">play_arrow</i>
                        </span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <h4>FILTERS</h4>
        <hr>
        <p>dasdasdasdasdasdas</p>
    </div>
</div>

<style>

</style>
